USE [master]
GO
/****** Object:  Database [DB_NRW]    Script Date: 25/09/2025 9:14:42 SA ******/
CREATE DATABASE [DB_NRW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_NRW', FILENAME = N'E:\3_ThucTap\6_UngDung_NRW\db\DB_NRW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_NRW_log', FILENAME = N'E:\3_ThucTap\6_UngDung_NRW\db\DB_NRW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_NRW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_NRW]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanLuongTieuThu] [int] NOT NULL,
	[MaDoiTuong] [nvarchar](50) NOT NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Dot] [int] NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhDHT]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhDHT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoiTuong] [int] NULL,
	[MaDongHo] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_CauHinhDHT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongHoTong]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongHoTong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[SanLuong] [int] NOT NULL,
	[NgayGhi] [date] NOT NULL,
	[NgayChinhSua] [date] NULL,
	[NguoiChinhSua] [int] NULL,
	[DanhDauLoi] [bit] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DongHoTong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSDMA]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDMA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDMA] [nvarchar](50) NOT NULL,
	[TenDMA] [nvarchar](255) NOT NULL,
	[SoLuongKhachHang] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[NgayVanHanh] [date] NOT NULL,
	[TyLeNRWBanDau] [float] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSDMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNgayDocSoBilling]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNgayDocSoBilling](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nam] [int] NOT NULL,
	[Ky] [int] NOT NULL,
	[SoNgayDocSoBilling] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSNgayDocSoBilling] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNgayDocSoBillingChiTiet]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNgayDocSoBillingChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNgayDocSo] [int] NULL,
	[Nam] [int] NOT NULL,
	[Ky] [int] NOT NULL,
	[Dot] [int] NOT NULL,
	[SoNgayDocSoDot] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSNgayDocSoBillingChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[TenNguoiDung] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[CapPhep] [bit] NOT NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [nvarchar](255) NULL,
	[NguoiCapNhat] [nvarchar](255) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKySuDung]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKySuDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [int] NULL,
	[HanhDong] [nvarchar](100) NOT NULL,
	[TinhNang] [nvarchar](255) NULL,
	[DuLieu] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NhatKySuDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [nvarchar](255) NOT NULL,
	[ThanhVien] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTy]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SanLuongDauVao] [float] NOT NULL,
	[SanLuongTieuThu] [float] NOT NULL,
	[LuongNuocThatThoat] [float] NULL,
	[TyLeThatThoatChuan2] [float] NULL,
	[TyLeThatThoatChuan1] [float] NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[SoNgayDocSoDHT] [int] NULL,
	[SoNgayDocSoBilling] [float] NULL,
	[NguyenNhan] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTyDauVaoChiTiet]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTyDauVaoChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDauVao] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](100) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTyDauVaoChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTyTieuThuChiTiet]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTyTieuThuChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTieuThu] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[ThuTuHienThi] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTyTieuThuChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMA]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongNuocVao] [float] NOT NULL,
	[LuongNuocTieuThu] [float] NOT NULL,
	[LuongNuocSucXa] [float] NULL,
	[LuongNuocThatThoat] [float] NULL,
	[TyLeThatThoatKyTruoc] [float] NULL,
	[TyLeThatThoat] [float] NULL,
	[NguyenNhan] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMADauVaoChiTiet]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMADauVaoChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDauVao] [int] NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMADauVaoChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMATieuThuChiTiet]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMATieuThuChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTieuThu] [int] NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMATieuThuChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyenDuLieu]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyenDuLieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [int] NULL,
	[DuLieuNRWCongTy] [nvarchar](50) NULL,
	[DuLieuNRWDMA] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanQuyenDuLieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyenTinhNang]    Script Date: 25/09/2025 9:14:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyenTinhNang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [int] NULL,
	[DongHoTong] [nvarchar](20) NULL,
	[CauHinhDHT] [nvarchar](20) NULL,
	[DSDMA] [nvarchar](20) NULL,
	[NRWCongTy] [nvarchar](20) NULL,
	[NRWDMA] [nvarchar](20) NULL,
	[DSNgayDocSoBilling] [nvarchar](20) NULL,
	[NguoiDung] [nvarchar](20) NULL,
	[NhomNguoiDungTinhNang] [nvarchar](20) NULL,
	[NhatKySuDung] [nvarchar](20) NULL,
	[PhanQuyen] [nvarchar](20) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_PhanQuyenTinhNang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([Id], [SanLuongTieuThu], [MaDoiTuong], [Ky], [Nam], [Dot], [TuNgay], [DenNgay], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1200, N'1', 8, 2025, NULL, NULL, NULL, N'Cong ty su dung binh thuong', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Billing] ([Id], [SanLuongTieuThu], [MaDoiTuong], [Ky], [Nam], [Dot], [TuNgay], [DenNgay], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 950, N'2', 8, 2025, NULL, NULL, NULL, N'Khu vuc QA du lieu hop le', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[Billing] ([Id], [SanLuongTieuThu], [MaDoiTuong], [Ky], [Nam], [Dot], [TuNgay], [DenNgay], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 870, N'3', 8, 2025, NULL, NULL, NULL, N'Khu vuc QB nghi ngo ro ri', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinhDHT] ON 

INSERT [dbo].[CauHinhDHT] ([Id], [MaDoiTuong], [MaDongHo], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 0, 1, N'Cấu hình đồng hồ tổng Công Ty 01', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[CauHinhDHT] ([Id], [MaDoiTuong], [MaDongHo], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 0, 2, N'Cấu hình đồng hồ tổng Công Ty 02', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[CauHinhDHT] ([Id], [MaDoiTuong], [MaDongHo], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 0, 3, N'Cấu hình đồng hồ tổng Công Ty 03', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[CauHinhDHT] OFF
GO
SET IDENTITY_INSERT [dbo].[DongHoTong] ON 

INSERT [dbo].[DongHoTong] ([Id], [Ma], [Ten], [SanLuong], [NgayGhi], [NgayChinhSua], [NguoiChinhSua], [DanhDauLoi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, N'DHT001', N'Dong ho tong Cong Ty', 1200, CAST(N'2025-08-01' AS Date), NULL, NULL, 1, NULL, CAST(N'2025-08-01T08:00:00.000' AS DateTime), CAST(N'2025-09-22T11:07:22.387' AS DateTime), 1, 1)
INSERT [dbo].[DongHoTong] ([Id], [Ma], [Ten], [SanLuong], [NgayGhi], [NgayChinhSua], [NguoiChinhSua], [DanhDauLoi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, N'DHT002', N'Dong ho tong KV QA', 950, CAST(N'2025-08-02' AS Date), NULL, NULL, 0, N'Du lieu hop le', CAST(N'2025-08-02T09:00:00.000' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[DongHoTong] ([Id], [Ma], [Ten], [SanLuong], [NgayGhi], [NgayChinhSua], [NguoiChinhSua], [DanhDauLoi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, N'DHT003', N'Dong ho tong KV QB', 870, CAST(N'2025-08-02' AS Date), NULL, NULL, 1, N'Nghi ngo do ro ri', CAST(N'2025-08-02T10:00:00.000' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[DongHoTong] OFF
GO
SET IDENTITY_INSERT [dbo].[DSDMA] ON 

INSERT [dbo].[DSDMA] ([Id], [MaDMA], [TenDMA], [SoLuongKhachHang], [TinhTrang], [NgayVanHanh], [TyLeNRWBanDau], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, N'DMA01', N'Khu vuc DMA 01', 150, N'Tot', CAST(N'2022-01-15' AS Date), 12.5, N'DMA khu A', CAST(N'2022-01-15T08:00:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[DSDMA] ([Id], [MaDMA], [TenDMA], [SoLuongKhachHang], [TinhTrang], [NgayVanHanh], [TyLeNRWBanDau], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, N'DMA02', N'Khu vuc DMA 02', 120, N'Tot', CAST(N'2022-03-10' AS Date), 10.2, N'DMA khu B', CAST(N'2022-03-10T09:00:00.000' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[DSDMA] ([Id], [MaDMA], [TenDMA], [SoLuongKhachHang], [TinhTrang], [NgayVanHanh], [TyLeNRWBanDau], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, N'DMA03', N'Khu vuc DMA 03', 200, N'Tot', CAST(N'2021-11-05' AS Date), 9.8, N'DMA khu C', CAST(N'2021-11-05T10:00:00.000' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[DSDMA] OFF
GO
SET IDENTITY_INSERT [dbo].[DSNgayDocSoBilling] ON 

INSERT [dbo].[DSNgayDocSoBilling] ([Id], [Nam], [Ky], [SoNgayDocSoBilling], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 2025, 1, 31, N'Thang 1 nam 2025 co 31 ngay', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[DSNgayDocSoBilling] ([Id], [Nam], [Ky], [SoNgayDocSoBilling], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 2025, 2, 28, N'Thang 2 nam 2025 co 28 ngay', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[DSNgayDocSoBilling] ([Id], [Nam], [Ky], [SoNgayDocSoBilling], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 2025, 3, 31, N'Thang 3 nam 2025 co 31 ngay', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[DSNgayDocSoBilling] OFF
GO
SET IDENTITY_INSERT [dbo].[DSNgayDocSoBillingChiTiet] ON 

INSERT [dbo].[DSNgayDocSoBillingChiTiet] ([Id], [MaNgayDocSo], [Nam], [Ky], [Dot], [SoNgayDocSoDot], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 2025, 1, 1, 15, N'Đợt 1 tháng 1', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[DSNgayDocSoBillingChiTiet] ([Id], [MaNgayDocSo], [Nam], [Ky], [Dot], [SoNgayDocSoDot], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 1, 2025, 1, 2, 16, N'Đợt 2 tháng 1', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[DSNgayDocSoBillingChiTiet] ([Id], [MaNgayDocSo], [Nam], [Ky], [Dot], [SoNgayDocSoDot], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 2, 2025, 2, 1, 14, N'Đợt 1 tháng 2', CAST(N'2025-09-19T15:13:06.173' AS DateTime), NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[DSNgayDocSoBillingChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [Ma], [Ten], [TenNguoiDung], [MatKhau], [Email], [VaiTro], [CapPhep], [AnhDaiDien], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, N'ND001', N'Nguyen Van A', N'NguyenVanA', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'nguyenvana@example.com', N'Quan ly', 1, N'/images/users/nguyenvana.png', CAST(N'2025-08-01T08:00:00.000' AS DateTime), CAST(N'2025-08-02T09:00:00.000' AS DateTime), N'System', N'System')
INSERT [dbo].[NguoiDung] ([Id], [Ma], [Ten], [TenNguoiDung], [MatKhau], [Email], [VaiTro], [CapPhep], [AnhDaiDien], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, N'ND002', N'Tran Thi B', N'TranThiB', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'tranthib@example.com', N'To truong', 1, N'/images/users/tranthib.png', CAST(N'2025-08-01T09:00:00.000' AS DateTime), CAST(N'2025-08-02T10:00:00.000' AS DateTime), N'System', N'NguyenVanA')
INSERT [dbo].[NguoiDung] ([Id], [Ma], [Ten], [TenNguoiDung], [MatKhau], [Email], [VaiTro], [CapPhep], [AnhDaiDien], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, N'ND003', N'Le Van C', N'LeVanC', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'levanc@example.com', N'Caretaker', 1, N'/images/users/levanc.png', CAST(N'2025-08-01T10:00:00.000' AS DateTime), CAST(N'2025-08-03T11:30:00.000' AS DateTime), N'System', N'TranThiB')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKySuDung] ON 

INSERT [dbo].[NhatKySuDung] ([Id], [TenNguoiDung], [HanhDong], [TinhNang], [DuLieu], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, N'Dang nhap', N'He thong', N'TenNguoiDung=NguyenVanA', N'Dang nhap thanh cong', CAST(N'2025-08-01T08:05:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NhatKySuDung] ([Id], [TenNguoiDung], [HanhDong], [TinhNang], [DuLieu], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 2, N'Tao moi', N'DongHoTong', N'Ma=DHT007, Ten=Dong ho tong moi', N'Tao dong ho tong moi', CAST(N'2025-08-01T09:10:00.000' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NhatKySuDung] ([Id], [TenNguoiDung], [HanhDong], [TinhNang], [DuLieu], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 3, N'Cap nhat', N'DongHoTong', N'Ma=DHT003, SanLuong=890', N'Cap nhat san luong', CAST(N'2025-08-02T10:20:00.000' AS DateTime), CAST(N'2025-08-02T10:25:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[NhatKySuDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomNguoiDung] ON 

INSERT [dbo].[NhomNguoiDung] ([Id], [NhomNguoiDung], [ThanhVien], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, N'Admin', N'NguyenVanA', N'Nhom quan tri he thong', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NhomNguoiDung] ([Id], [NhomNguoiDung], [ThanhVien], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, N'QuanLyKV', N'TranThiB, LeVanC', N'Quan ly cac khu vuc QA, QB', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NhomNguoiDung] ([Id], [NhomNguoiDung], [ThanhVien], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, N'KyThuat', N'PhamThiD, HoVanE', N'Nhan vien ky thuat kiem tra dong ho', CAST(N'2025-09-19T15:13:06.170' AS DateTime), NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[NhomNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWCongTy] ON 

INSERT [dbo].[NRWCongTy] ([Id], [Ma], [Ky], [Nam], [SanLuongDauVao], [SanLuongTieuThu], [LuongNuocThatThoat], [TyLeThatThoatChuan2], [TyLeThatThoatChuan1], [TuNgay], [DenNgay], [SoNgayDocSoDHT], [SoNgayDocSoBilling], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, N'CongTy', 1, 2025, 2800, 2700, NULL, NULL, NULL, CAST(N'2025-01-01' AS Date), CAST(N'2025-01-31' AS Date), 31, 31, NULL, N'Ty le that thoat trong muc cho phep', CAST(N'2025-09-19T15:13:06.177' AS DateTime), NULL, 1, 2)
INSERT [dbo].[NRWCongTy] ([Id], [Ma], [Ky], [Nam], [SanLuongDauVao], [SanLuongTieuThu], [LuongNuocThatThoat], [TyLeThatThoatChuan2], [TyLeThatThoatChuan1], [TuNgay], [DenNgay], [SoNgayDocSoDHT], [SoNgayDocSoBilling], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, N'CongTy', 2, 2025, 2600, 2500, NULL, NULL, NULL, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-28' AS Date), 28, 28, N'That thoat do duong ong bi nut', N'Canh bao ky thuat', CAST(N'2025-09-19T15:13:06.177' AS DateTime), NULL, 2, 3)
INSERT [dbo].[NRWCongTy] ([Id], [Ma], [Ky], [Nam], [SanLuongDauVao], [SanLuongTieuThu], [LuongNuocThatThoat], [TyLeThatThoatChuan2], [TyLeThatThoatChuan1], [TuNgay], [DenNgay], [SoNgayDocSoDHT], [SoNgayDocSoBilling], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, N'CongTy', 3, 2025, 3100, 2950, NULL, NULL, NULL, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), 31, 31, N'That thoat do ro ri nho', N'Du lieu hop le', CAST(N'2025-09-19T15:13:06.177' AS DateTime), NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[NRWCongTy] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWCongTyDauVaoChiTiet] ON 

INSERT [dbo].[NRWCongTyDauVaoChiTiet] ([Id], [MaDauVao], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 1, 2025, N'Sản lượng đồng hồ tổng', N'plus', 2750, 1, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[NRWCongTyDauVaoChiTiet] ([Id], [MaDauVao], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 1, 1, 2025, N'Truy thu', N'plus', 50, 2, N'Khach hang chua ke khai', NULL, NULL, 2, NULL)
INSERT [dbo].[NRWCongTyDauVaoChiTiet] ([Id], [MaDauVao], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 2, 2, 2025, N'Sản lượng đồng hồ tổng', N'plus', 2550, 1, NULL, NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[NRWCongTyDauVaoChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWCongTyTieuThuChiTiet] ON 

INSERT [dbo].[NRWCongTyTieuThuChiTiet] ([Id], [MaTieuThu], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 8, 2025, N'Billing', N'plus', 950, 1, N'San luong hoa don', CAST(N'2025-09-19T15:13:06.180' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NRWCongTyTieuThuChiTiet] ([Id], [MaTieuThu], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 1, 8, 2025, N'Suc xa', N'minus', 50, 2, N'San luong mat do suc xa', CAST(N'2025-09-19T15:13:06.180' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NRWCongTyTieuThuChiTiet] ([Id], [MaTieuThu], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 1, 8, 2025, N'PTML', N'plus', 30, 3, N'Phan tich mat luoi', CAST(N'2025-09-19T15:13:06.180' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[NRWCongTyTieuThuChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWDMA] ON 

INSERT [dbo].[NRWDMA] ([Id], [MaDMA], [Ky], [Nam], [LuongNuocVao], [LuongNuocTieuThu], [LuongNuocSucXa], [LuongNuocThatThoat], [TyLeThatThoatKyTruoc], [TyLeThatThoat], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 1, 2025, 12000, 9500, 200, NULL, NULL, NULL, N'Ro ri nho', N'Ky dau tien', CAST(N'2025-01-31T00:00:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NRWDMA] ([Id], [MaDMA], [Ky], [Nam], [LuongNuocVao], [LuongNuocTieuThu], [LuongNuocSucXa], [LuongNuocThatThoat], [TyLeThatThoatKyTruoc], [TyLeThatThoat], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 1, 2, 2025, 12500, 9700, 300, NULL, 20, NULL, N'Ong cu', N'Theo doi', CAST(N'2025-02-28T00:00:00.000' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NRWDMA] ([Id], [MaDMA], [Ky], [Nam], [LuongNuocVao], [LuongNuocTieuThu], [LuongNuocSucXa], [LuongNuocThatThoat], [TyLeThatThoatKyTruoc], [TyLeThatThoat], [NguyenNhan], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 1, 3, 2025, 13000, 10000, 250, NULL, 22, NULL, N'Da sua chua', N'Giam dan', CAST(N'2025-03-31T00:00:00.000' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[NRWDMA] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWDMADauVaoChiTiet] ON 

INSERT [dbo].[NRWDMADauVaoChiTiet] ([Id], [MaDauVao], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 1, 1, 2025, N'Sản lượng đồng hồ tổng', N'plus', 11800, 1, N'Từ DHT006', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NRWDMADauVaoChiTiet] ([Id], [MaDauVao], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 1, 1, 1, 2025, N'Truy thu', N'plus', 200, 2, N'Khách hàng chưa kê khai', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NRWDMADauVaoChiTiet] ([Id], [MaDauVao], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 1, 1, 1, 2025, N'Điều chỉnh', N'minus', 0, 3, N'Không có điều chỉnh', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[NRWDMADauVaoChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[NRWDMATieuThuChiTiet] ON 

INSERT [dbo].[NRWDMATieuThuChiTiet] ([Id], [MaTieuThu], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, 1, 1, 2025, N'Dân cư', N'plus', 6000, 1, N'Tiêu thụ dân cư', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[NRWDMATieuThuChiTiet] ([Id], [MaTieuThu], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 2, 1, 1, 2025, N'Doanh nghiệp', N'plus', 2500, 2, N'Tiêu thụ doanh nghiệp', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[NRWDMATieuThuChiTiet] ([Id], [MaTieuThu], [MaDMA], [Ky], [Nam], [Nguon], [ToanTu], [GiaTri], [ThuTuHienThi], [GhiChu], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 3, 1, 1, 2025, N'Công cộng', N'plus', 900, 3, N'Công cộng', CAST(N'2025-09-19T15:13:06.183' AS DateTime), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[NRWDMATieuThuChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyenDuLieu] ON 

INSERT [dbo].[PhanQuyenDuLieu] ([Id], [NhomNguoiDung], [DuLieuNRWCongTy], [DuLieuNRWDMA]) VALUES (1, 1, N'CongTy', N'DMA01,DMA02,DMA03,DMA04,DMA05,DMA06,DMA07,DMA08')
INSERT [dbo].[PhanQuyenDuLieu] ([Id], [NhomNguoiDung], [DuLieuNRWCongTy], [DuLieuNRWDMA]) VALUES (2, 2, N'CongTy', N'DMA01,DMA02,DMA03')
INSERT [dbo].[PhanQuyenDuLieu] ([Id], [NhomNguoiDung], [DuLieuNRWCongTy], [DuLieuNRWDMA]) VALUES (3, 3, NULL, N'DMA02,DMA04,DMA05')
SET IDENTITY_INSERT [dbo].[PhanQuyenDuLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyenTinhNang] ON 

INSERT [dbo].[PhanQuyenTinhNang] ([Id], [NhomNguoiDung], [DongHoTong], [CauHinhDHT], [DSDMA], [NRWCongTy], [NRWDMA], [DSNgayDocSoBilling], [NguoiDung], [NhomNguoiDungTinhNang], [NhatKySuDung], [PhanQuyen], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (1, 1, N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', N'Add,Edit,View,Delete', CAST(N'2025-09-19T15:13:06.187' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[PhanQuyenTinhNang] ([Id], [NhomNguoiDung], [DongHoTong], [CauHinhDHT], [DSDMA], [NRWCongTy], [NRWDMA], [DSNgayDocSoBilling], [NguoiDung], [NhomNguoiDungTinhNang], [NhatKySuDung], [PhanQuyen], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (2, 2, NULL, NULL, N'Edit,View', N'View', N'Edit,View', N'View', N'View', N'View', N'View', NULL, CAST(N'2025-09-19T15:13:06.187' AS DateTime), NULL, 2, NULL)
INSERT [dbo].[PhanQuyenTinhNang] ([Id], [NhomNguoiDung], [DongHoTong], [CauHinhDHT], [DSDMA], [NRWCongTy], [NRWDMA], [DSNgayDocSoBilling], [NguoiDung], [NhomNguoiDungTinhNang], [NhatKySuDung], [PhanQuyen], [NgayTao], [NgayCapNhat], [NguoiTao], [NguoiCapNhat]) VALUES (3, 3, N'Edit,View', NULL, N'Edit,View', NULL, N'View', N'View', NULL, NULL, N'Add,Edit,View', NULL, CAST(N'2025-09-19T15:13:06.187' AS DateTime), NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[PhanQuyenTinhNang] OFF
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CauHinhDHT] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DongHoTong] ADD  DEFAULT ((0)) FOR [DanhDauLoi]
GO
ALTER TABLE [dbo].[DongHoTong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT ((0)) FOR [SoLuongKhachHang]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT (N'Tot') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [CapPhep]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKySuDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhomNguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWCongTy] ADD  DEFAULT (N'CongTy') FOR [Ma]
GO
ALTER TABLE [dbo].[NRWCongTy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__GiaTr__628FA481]  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__GiaTr__693CA210]  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__ThuTu__6A30C649]  DEFAULT ((0)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__NgayT__6B24EA82]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMA] ADD  CONSTRAINT [DF__NRWDMA__NgayTao__6FE99F9F]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] ADD  CONSTRAINT [DF__NRWDMADau__NgayT__73BA3083]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] ADD  CONSTRAINT [DF__NRWDMATie__NgayT__778AC167]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_DongHoTong_MaDongHo] FOREIGN KEY([MaDongHo])
REFERENCES [dbo].[DongHoTong] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_DongHoTong_MaDongHo]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiChinhSua] FOREIGN KEY([NguoiChinhSua])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiChinhSua]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSDMA]  WITH CHECK ADD  CONSTRAINT [FK_DSDMA_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSDMA] CHECK CONSTRAINT [FK_DSDMA_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSDMA]  WITH CHECK ADD  CONSTRAINT [FK_DSDMA_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSDMA] CHECK CONSTRAINT [FK_DSDMA_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] CHECK CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] CHECK CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_DSNgayDocSoBilling_MaNgayDocSo] FOREIGN KEY([MaNgayDocSo])
REFERENCES [dbo].[DSNgayDocSoBilling] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_DSNgayDocSoBilling_MaNgayDocSo]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_TenNguoiDung] FOREIGN KEY([TenNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_TenNguoiDung]
GO
ALTER TABLE [dbo].[NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhomNguoiDung] CHECK CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhomNguoiDung] CHECK CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTy]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTy] CHECK CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTy]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTy] CHECK CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NRWCongTy_MaDauVao] FOREIGN KEY([MaDauVao])
REFERENCES [dbo].[NRWCongTy] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NRWCongTy_MaDauVao]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NRWCongTy_MaTieuThu] FOREIGN KEY([MaTieuThu])
REFERENCES [dbo].[NRWCongTy] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NRWCongTy_MaTieuThu]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NRWDMA_MaDauVao] FOREIGN KEY([MaDauVao])
REFERENCES [dbo].[NRWDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NRWDMA_MaDauVao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NRWDMA_MaTieuThu] FOREIGN KEY([MaTieuThu])
REFERENCES [dbo].[NRWDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NRWDMA_MaTieuThu]
GO
ALTER TABLE [dbo].[PhanQuyenDuLieu]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenDuLieu_NhomNguoiDung_NhomNguoiDung] FOREIGN KEY([NhomNguoiDung])
REFERENCES [dbo].[NhomNguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenDuLieu] CHECK CONSTRAINT [FK_PhanQuyenDuLieu_NhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NhomNguoiDung_NhomNguoiDung] FOREIGN KEY([NhomNguoiDung])
REFERENCES [dbo].[NhomNguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_VaiTro] CHECK  (([VaiTro]=N'Nguoi dung' OR [VaiTro]=N'Caretaker' OR [VaiTro]=N'To truong' OR [VaiTro]=N'Quan ly'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [CK__NRWCongTy__ToanT__68487DD7] CHECK  (([ToanTu]='minus' OR [ToanTu]='plus'))
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [CK__NRWCongTy__ToanT__68487DD7]
GO
USE [master]
GO
