USE [master]
GO
/****** Object:  Database [DB_NRW]    Script Date: 25/09/2025 9:11:57 SA ******/
CREATE DATABASE [DB_NRW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_NRW', FILENAME = N'E:\3_ThucTap\6_UngDung_NRW\db\DB_NRW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_NRW_log', FILENAME = N'E:\3_ThucTap\6_UngDung_NRW\db\DB_NRW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_NRW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_NRW]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanLuongTieuThu] [int] NOT NULL,
	[MaDoiTuong] [nvarchar](50) NOT NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Dot] [int] NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhDHT]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhDHT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoiTuong] [int] NULL,
	[MaDongHo] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_CauHinhDHT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongHoTong]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongHoTong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[SanLuong] [int] NOT NULL,
	[NgayGhi] [date] NOT NULL,
	[NgayChinhSua] [date] NULL,
	[NguoiChinhSua] [int] NULL,
	[DanhDauLoi] [bit] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DongHoTong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSDMA]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDMA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDMA] [nvarchar](50) NOT NULL,
	[TenDMA] [nvarchar](255) NOT NULL,
	[SoLuongKhachHang] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[NgayVanHanh] [date] NOT NULL,
	[TyLeNRWBanDau] [float] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSDMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNgayDocSoBilling]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNgayDocSoBilling](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nam] [int] NOT NULL,
	[Ky] [int] NOT NULL,
	[SoNgayDocSoBilling] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSNgayDocSoBilling] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSNgayDocSoBillingChiTiet]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSNgayDocSoBillingChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNgayDocSo] [int] NULL,
	[Nam] [int] NOT NULL,
	[Ky] [int] NOT NULL,
	[Dot] [int] NOT NULL,
	[SoNgayDocSoDot] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_DSNgayDocSoBillingChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[TenNguoiDung] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[CapPhep] [bit] NOT NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [nvarchar](255) NULL,
	[NguoiCapNhat] [nvarchar](255) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKySuDung]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKySuDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [int] NULL,
	[HanhDong] [nvarchar](100) NOT NULL,
	[TinhNang] [nvarchar](255) NULL,
	[DuLieu] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NhatKySuDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [nvarchar](255) NOT NULL,
	[ThanhVien] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTy]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SanLuongDauVao] [float] NOT NULL,
	[SanLuongTieuThu] [float] NOT NULL,
	[LuongNuocThatThoat] [float] NULL,
	[TyLeThatThoatChuan2] [float] NULL,
	[TyLeThatThoatChuan1] [float] NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[SoNgayDocSoDHT] [int] NULL,
	[SoNgayDocSoBilling] [float] NULL,
	[NguyenNhan] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTyDauVaoChiTiet]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTyDauVaoChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDauVao] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](100) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTyDauVaoChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWCongTyTieuThuChiTiet]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWCongTyTieuThuChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTieuThu] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[ThuTuHienThi] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWCongTyTieuThuChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMA]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongNuocVao] [float] NOT NULL,
	[LuongNuocTieuThu] [float] NOT NULL,
	[LuongNuocSucXa] [float] NULL,
	[LuongNuocThatThoat] [float] NULL,
	[TyLeThatThoatKyTruoc] [float] NULL,
	[TyLeThatThoat] [float] NULL,
	[NguyenNhan] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMADauVaoChiTiet]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMADauVaoChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDauVao] [int] NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMADauVaoChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NRWDMATieuThuChiTiet]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NRWDMATieuThuChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTieuThu] [int] NULL,
	[MaDMA] [int] NULL,
	[Ky] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[Nguon] [nvarchar](255) NOT NULL,
	[ToanTu] [nvarchar](10) NOT NULL,
	[GiaTri] [float] NOT NULL,
	[ThuTuHienThi] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_NRWDMATieuThuChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyenDuLieu]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyenDuLieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [int] NULL,
	[DuLieuNRWCongTy] [nvarchar](50) NULL,
	[DuLieuNRWDMA] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhanQuyenDuLieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyenTinhNang]    Script Date: 25/09/2025 9:11:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyenTinhNang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhomNguoiDung] [int] NULL,
	[DongHoTong] [nvarchar](20) NULL,
	[CauHinhDHT] [nvarchar](20) NULL,
	[DSDMA] [nvarchar](20) NULL,
	[NRWCongTy] [nvarchar](20) NULL,
	[NRWDMA] [nvarchar](20) NULL,
	[DSNgayDocSoBilling] [nvarchar](20) NULL,
	[NguoiDung] [nvarchar](20) NULL,
	[NhomNguoiDungTinhNang] [nvarchar](20) NULL,
	[NhatKySuDung] [nvarchar](20) NULL,
	[PhanQuyen] [nvarchar](20) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiTao] [int] NOT NULL,
	[NguoiCapNhat] [int] NULL,
 CONSTRAINT [PK_PhanQuyenTinhNang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CauHinhDHT] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DongHoTong] ADD  DEFAULT ((0)) FOR [DanhDauLoi]
GO
ALTER TABLE [dbo].[DongHoTong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT ((0)) FOR [SoLuongKhachHang]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT (N'Tot') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[DSDMA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [CapPhep]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKySuDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhomNguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWCongTy] ADD  DEFAULT (N'CongTy') FOR [Ma]
GO
ALTER TABLE [dbo].[NRWCongTy] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__GiaTr__628FA481]  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__GiaTr__693CA210]  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__ThuTu__6A30C649]  DEFAULT ((0)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] ADD  CONSTRAINT [DF__NRWCongTy__NgayT__6B24EA82]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMA] ADD  CONSTRAINT [DF__NRWDMA__NgayTao__6FE99F9F]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] ADD  CONSTRAINT [DF__NRWDMADau__NgayT__73BA3083]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] ADD  CONSTRAINT [DF__NRWDMATie__NgayT__778AC167]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_DongHoTong_MaDongHo] FOREIGN KEY([MaDongHo])
REFERENCES [dbo].[DongHoTong] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_DongHoTong_MaDongHo]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[CauHinhDHT]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[CauHinhDHT] CHECK CONSTRAINT [FK_CauHinhDHT_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiChinhSua] FOREIGN KEY([NguoiChinhSua])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiChinhSua]
GO
ALTER TABLE [dbo].[DongHoTong]  WITH CHECK ADD  CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DongHoTong] CHECK CONSTRAINT [FK_DongHoTong_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSDMA]  WITH CHECK ADD  CONSTRAINT [FK_DSDMA_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSDMA] CHECK CONSTRAINT [FK_DSDMA_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSDMA]  WITH CHECK ADD  CONSTRAINT [FK_DSDMA_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSDMA] CHECK CONSTRAINT [FK_DSDMA_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] CHECK CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBilling] CHECK CONSTRAINT [FK_DSNgayDocSoBilling_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_DSNgayDocSoBilling_MaNgayDocSo] FOREIGN KEY([MaNgayDocSo])
REFERENCES [dbo].[DSNgayDocSoBilling] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_DSNgayDocSoBilling_MaNgayDocSo]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet] CHECK CONSTRAINT [FK_DSNgayDocSoBillingChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NhatKySuDung]  WITH CHECK ADD  CONSTRAINT [FK_NhatKySuDung_NguoiDung_TenNguoiDung] FOREIGN KEY([TenNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhatKySuDung] CHECK CONSTRAINT [FK_NhatKySuDung_NguoiDung_TenNguoiDung]
GO
ALTER TABLE [dbo].[NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhomNguoiDung] CHECK CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NhomNguoiDung] CHECK CONSTRAINT [FK_NhomNguoiDung_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTy]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTy] CHECK CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTy]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTy] CHECK CONSTRAINT [FK_NRWCongTy_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NRWCongTy_MaDauVao] FOREIGN KEY([MaDauVao])
REFERENCES [dbo].[NRWCongTy] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyDauVaoChiTiet] CHECK CONSTRAINT [FK_NRWCongTyDauVaoChiTiet_NRWCongTy_MaDauVao]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NRWCongTy_MaTieuThu] FOREIGN KEY([MaTieuThu])
REFERENCES [dbo].[NRWCongTy] ([Id])
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [FK_NRWCongTyTieuThuChiTiet_NRWCongTy_MaTieuThu]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMA]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMA] CHECK CONSTRAINT [FK_NRWDMA_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMADauVaoChiTiet_NRWDMA_MaDauVao] FOREIGN KEY([MaDauVao])
REFERENCES [dbo].[NRWDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMADauVaoChiTiet] CHECK CONSTRAINT [FK_NRWDMADauVaoChiTiet_NRWDMA_MaDauVao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_DSDMA_MaDMA] FOREIGN KEY([MaDMA])
REFERENCES [dbo].[DSDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_DSDMA_MaDMA]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_NRWDMATieuThuChiTiet_NRWDMA_MaTieuThu] FOREIGN KEY([MaTieuThu])
REFERENCES [dbo].[NRWDMA] ([Id])
GO
ALTER TABLE [dbo].[NRWDMATieuThuChiTiet] CHECK CONSTRAINT [FK_NRWDMATieuThuChiTiet_NRWDMA_MaTieuThu]
GO
ALTER TABLE [dbo].[PhanQuyenDuLieu]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenDuLieu_NhomNguoiDung_NhomNguoiDung] FOREIGN KEY([NhomNguoiDung])
REFERENCES [dbo].[NhomNguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenDuLieu] CHECK CONSTRAINT [FK_PhanQuyenDuLieu_NhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiCapNhat] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiCapNhat]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiTao] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NguoiDung_NguoiTao]
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyenTinhNang_NhomNguoiDung_NhomNguoiDung] FOREIGN KEY([NhomNguoiDung])
REFERENCES [dbo].[NhomNguoiDung] ([Id])
GO
ALTER TABLE [dbo].[PhanQuyenTinhNang] CHECK CONSTRAINT [FK_PhanQuyenTinhNang_NhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[DSNgayDocSoBillingChiTiet]  WITH CHECK ADD CHECK  (([Dot]>=(1) AND [Dot]<=(20)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_VaiTro] CHECK  (([VaiTro]=N'Nguoi dung' OR [VaiTro]=N'Caretaker' OR [VaiTro]=N'To truong' OR [VaiTro]=N'Quan ly'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet]  WITH CHECK ADD  CONSTRAINT [CK__NRWCongTy__ToanT__68487DD7] CHECK  (([ToanTu]='minus' OR [ToanTu]='plus'))
GO
ALTER TABLE [dbo].[NRWCongTyTieuThuChiTiet] CHECK CONSTRAINT [CK__NRWCongTy__ToanT__68487DD7]
GO
USE [master]
GO
