.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* tránh tràn màn hình ngang */
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #1e40af;
  color: #fff;
}

.main-content {
  flex: 1; /* chiếm toàn bộ không gian còn lại */
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  min-width: 0; /* bắt buộc để tránh bị co cụm */
  
}

.content-area {
  flex: 1;
  width: 100%; /* chiếm full chiều ngang */
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto; /* scroll dọc nếu nội dung dài */
  margin-top: 10px;
}

