.dashboard-container {
  padding: 20px;
  background: #f9fafb;
  min-height: 100vh;
}

.dashboard-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 8px 16px;
  border: none;
  /* border-radius: 6px; */
  cursor: pointer;
  background: #8b101000;
  font-weight: 500;
  border-color: transparent;
}

.tab.active {
  color: #1976D2;
  border-color: transparent;
  font-weight: 600;
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 120px;
}

.card h4 {
  font-size: 14px;
  color: #6b7280;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 6px;
}

.value-change {
  display: flex;
  align-items: baseline;
  gap: 8px;
  justify-content: center;
}

.card .value {
  font-size: 18px;
  font-weight: bold;
  color: #111827;
}

.card .change {
  font-size: 14px;
  font-weight: 600;
}

.change.positive {
  color: #10b981;
  /* xanh */
}

.change.negative {
  color: #ef4444;
  /* đỏ */
}

.change.neutral {
  color: #f59e0b;
  /* cam */
}

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.chart-box {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-box h4 {
  color: #111827;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}