/* Layout chung */
.account-page {
  padding: 20px;
  background: #f9fafb;
  flex: 1;
}

/* Stats */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* toolbar*/
.toolbar-left{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.toolbar-right{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}


